[submodule "external/DirectXShaderCompiler"]
	path = external/DirectXShaderCompiler
	url = https://github.com/microsoft/DirectXShaderCompiler.git
[submodule "external/SPIRV-Cross"]
	path = external/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "external/buildscripts"]
	path = external/buildscripts
	url = https://github.com/MonoGame/MonoGame.Tool.BuildScripts.git
